@rendermode InteractiveServer
@page "/"
@using AiPeopleFinder.Application

@inject IPeopleFinderService peopleFinderService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<button @onclick="Run">Start</button>

Welcome to your new app.

@code
{
    async Task Run()
    {
        var result = await peopleFinderService.GetSearchRequestDetails("igorlysenko@gmail.com Igor Lysenko");
        Console.WriteLine(result);
    }
}
